<ion-card>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/user.jpg">
    </ion-avatar>
    <ion-label>
      <strong>ELMAKHLOUK </strong><br>
      <strong>Chouaib</strong>
      <p>Feb 18, 2021</p>
    </ion-label>
  </ion-item>

  <img src="../../assets/hotel.jpg" alt="ion">
  <ion-card-header>
    <ion-card-title (click)="showFooter()">Poker Organisator</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    An application made by poker lovers to poker lovers. <br>
    This application will help you to organize your poker party.<br>
  </ion-card-content>

</ion-card>